In [1]:
import h2o

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         1 day 8 hours 37 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.1
H2O_cluster_version_age:    9 days
H2O_cluster_name:           H2O_started_from_R_Aditya_Jain_hwc841
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    6.966 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [2]:
url = 'http://H2O-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
data = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
train, test = data.split_frame([0.8])

In [4]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.2,1.1,0.1,
mean,5.935537190082647,3.01818181818182,3.9966942148760336,1.2917355371900825,
maxs,7.9,4.1,6.9,2.5,
sigma,0.8450699679249657,0.3907258203224696,1.7266506056668172,0.7517298691306944,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,5.4,3.7,1.5,0.2,Iris-setosa
8,4.8,3.4,1.6,0.2,Iris-setosa
9,4.8,3.0,1.4,0.1,Iris-setosa

In [5]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

estimator = H2ODeepLearningEstimator()
estimator.train(["sepal_len","sepal_wid","petal_len","petal_wid"],"class",train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [6]:
estimator

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1586597427753_2


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,210 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00312357,0.00180515,0,0.0019748,0.107564,0.478958,0.013048
2,,3,200,Rectifier,0,0,0,0.00836161,0.0099586,0,-0.00107986,0.0702404,0.997771,0.0052254
3,,4,3,Softmax,,0,0,0.00590562,0.0455268,0,0.0148312,0.403731,-0.00235296,0.00202101

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.014552240029047217
RMSE: 0.12063266567993604
LogLoss: 0.043245596351456805
Mean Per-Class Error: 0.023758865248226953

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         34.0              0.0             0.0  0.000000   0 / 34
1          0.0             38.0             2.0  0.050000   2 / 40
2          0.0              1.0            46.0  0.021277   1 / 47
3         34.0             39.0            48.0  0.024793  3 / 121

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.975207
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-04-12 23:38:22,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-04-12 23:38:22,0.071 sec,3270 obs/sec,1.0,1,121.0,0.633357,3.669913,0.39025,0.396694
2,,2020-04-12 23:38:22,0.313 sec,4416 obs/sec,10.0,10,1210.0,0.120633,0.043246,0.97788,0.024793

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.275104
1  sepal_len             0.884329           0.884329    0.243283
2  sepal_wid             0.883446           0.883446    0.243040
3  petal_len             0.867210           0.867210    0.238573

In [7]:
pred = estimator.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [8]:
pred

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999993,7.0203e-06,4.59444e-24
Iris-setosa,0.999977,2.28611e-05,1.48842e-24
Iris-setosa,0.99984,0.000160358,7.14417e-24
Iris-setosa,0.999985,1.49201e-05,3.89167e-26
Iris-setosa,0.999999,1.38832e-06,3.36634e-25
Iris-setosa,0.999996,3.98744e-06,4.2637e-25
Iris-setosa,0.999984,1.55817e-05,1.84281e-24
Iris-setosa,0.999914,8.56155e-05,8.44784e-24
Iris-setosa,0.999607,0.00039279,3.11748e-23
Iris-setosa,1,3.59286e-07,3.60677e-27

In [9]:
estimator.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.029794925261639786
RMSE: 0.17261206580549282
LogLoss: 0.08114799329174105
Mean Per-Class Error: 0.03333333333333333

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         16.0              0.0             0.0  0.000000  0 / 16
1          0.0              9.0             1.0  0.100000  1 / 10
2          0.0              0.0             3.0  0.000000   0 / 3
3         16.0              9.0             4.0  0.034483  1 / 29

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.965517
1  2   1.000000
2  3   1.000000