In [1]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         6 mins 06 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.1
H2O_cluster_version_age:    21 days, 20 hours and 10 minutes
H2O_cluster_name:           H2O_from_python_Aditya_Jain_6zzfjk
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    88.3 Mb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [2]:
data = h2o.import_file('allyears2k_headers.csv',
                      destination_frame='airlines')

train, valid, test = data.split_frame([0.8,0.1], seed=100)
print ('Number of rows train (%d), validation (%d) and test (%d)'%(train.nrows, valid.nrows, test.nrows))

Parse progress: |█████████████████████████████████████████████████████████| 100%
Number of rows train (35257), validation (4270) and test (4451)

In [3]:
h2o.ls()

             key
0       airlines
1  py_2_sid_9aa5
2  py_3_sid_9aa5
3  py_4_sid_9aa5

In [4]:
#print dimensions of loaded data
print (data.nrows)
print (data.ncols)

43978
31

In [5]:
data.names

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'IsArrDelayed',
 'IsDepDelayed']

In [6]:
#extract first four date fields
dates = data[:,0:4]
print (dates.nrows)
print (dates.ncols)

43978
4

In [7]:
#extract origin & destination airports
airports = data[:,['Origin','Dest']]
print (airports.nrows)
print (airports.ncols)

43978
2

In [9]:
#create new frame by combining above frames - this will give error since column count is different
airports_and_dates_rbind = airports.rbind(dates)
print (airports_and_dates.nrows)
print (airports_and_dates.ncols)

airports_and_dates.names

H2OValueError: Cannot row-bind a dataframe with 4 columns to a data frame with 2 columns: the columns must match

In [14]:
#create new frame by combining above frames
airports_and_dates = airports.cbind(dates)
print (airports_and_dates.nrows)
print (airports_and_dates.ncols)

airports_and_dates.names

43978
6

['Origin', 'Dest', 'Year', 'Month', 'DayofMonth', 'DayOfWeek']

In [16]:
#create a new frame by combining rows of different frames
restored_frame = train.rbind([valid, test])

print (restored_frame.nrows)
print (restored_frame.ncols)

print (data.nrows)
print (data.ncols)

43978
31
43978
31