In [1]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         7 days 9 hours 55 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.1
H2O_cluster_version_age:    15 days
H2O_cluster_name:           H2O_started_from_R_Aditya_Jain_hwc841
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    6.915 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [2]:
data = h2o.import_file('iris_wheader.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
train, test = data.split_frame([0.8])

In [5]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

estimator = H2OGradientBoostingEstimator()
fit = estimator.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'],'class',train)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [6]:
estimator

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_model_python_1586597427753_5


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,25842.0,1.0,5.0,4.546667,2.0,11.0,9.08

ModelMetricsMultinomial: gbm
** Reported on train data. **

MSE: 0.0034925906230334103
RMSE: 0.05909814398975158
LogLoss: 0.022119043228526054
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error     Rate
0         43.0              0.0             0.0    0.0   0 / 43
1          0.0             42.0             0.0    0.0   0 / 42
2          0.0              0.0            40.0    0.0   0 / 40
3         43.0             42.0            40.0    0.0  0 / 125

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2020-04-19 00:56:28,0.004 sec,0.0,0.666667,1.098612,0.632
1,,2020-04-19 00:56:28,0.009 sec,1.0,0.604744,0.928708,0.048
2,,2020-04-19 00:56:28,0.013 sec,2.0,0.548160,0.795155,0.040
3,,2020-04-19 00:56:28,0.016 sec,3.0,0.496940,0.687780,0.040
4,,2020-04-19 00:56:28,0.018 sec,4.0,0.450726,0.599357,0.040
5,,2020-04-19 00:56:28,0.020 sec,5.0,0.409657,0.526209,0.048
6,,2020-04-19 00:56:28,0.022 sec,6.0,0.373181,0.464619,0.040
7,,2020-04-19 00:56:28,0.025 sec,7.0,0.340770,0.411976,0.040
8,,2020-04-19 00:56:28,0.027 sec,8.0,0.312104,0.366670,0.048
9,,2020-04-19 00:56:28,0.029 sec,9.0,0.287300,0.328211,0.040
10,,2020-04-19 00:56:28,0.032 sec,10.0,0.265967,0.295719,0.040
11,,2020-04-19 00:56:28,0.034 sec,11.0,0.247150,0.266803,0.040
12,,2020-04-19 00:56:28,0.036 sec,12.0,0.230347,0.241037,0.040
13,,2020-04-19 00:56:28,0.039 sec,13.0,0.215285,0.218077,0.040
14,,2020-04-19 00:56:28,0.041 sec,14.0,0.203068,0.199327,0.040
15,,2020-04-19 00:56:28,0.043 sec,15.0,0.189750,0.179901,0.032
16,,2020-04-19 00:56:28,0.046 sec,16.0,0.178355,0.163185,0.032
17,,2020-04-19 00:56:28,0.048 sec,17.0,0.169815,0.149426,0.032
18,,2020-04-19 00:56:28,0.050 sec,18.0,0.161299,0.136569,0.032
19,,2020-04-19 00:56:28,0.053 sec,19.0,0.153261,0.125163,0.024

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid           219.664902           1.000000    0.577292
1  petal_len           154.130844           0.701664    0.405065
2  sepal_wid             3.469157           0.015793    0.009117
3  sepal_len             3.244086           0.014768    0.008526

In [7]:
predictions = estimator.predict(test)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [8]:
estimator.model_performance(test)

ModelMetricsMultinomial: gbm
** Reported on test data. **

MSE: 0.0023505889939270243
RMSE: 0.04848287320205996
LogLoss: 0.01838886257371514
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0          7.0              0.0             0.0    0.0   0 / 7
1          0.0              8.0             0.0    0.0   0 / 8
2          0.0              0.0            10.0    0.0  0 / 10
3          7.0              8.0            10.0    0.0  0 / 25

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

In [14]:
perf = estimator.model_performance(test)

In [16]:
perf.confusion_matrix()

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0          7.0              0.0             0.0    0.0   0 / 7
1          0.0              8.0             0.0    0.0   0 / 8
2          0.0              0.0            10.0    0.0  0 / 10
3          7.0              8.0            10.0    0.0  0 / 25